<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: green;">Solicitud POST enviada y redireccionada correctamente</h1>
    <p>Pero es importante aclarar que esta ruta tiene un controlador que analiza la solicitud GET y le asigna el archivo html enviado para poder mostrar la view</p>
    <h3>Esto es un atributo Flash: </h3>
    <p style="background-color: yellow;" th:text="${mensaje}">mensaje</p>
</body>
</html>