<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Index de Actividades</h1>
    <h3>Estan algunas actividades para elegir y derivar la ruta: </h3>
    <a style="background-color: black; padding: 10px; color: rgb(0, 153, 255); border-radius: 6px;" href="/counter">Ir a "Counter"</a>
    <a href="/login">Ir a Login</a>
    <a style="background-color: black; padding: 10px; color: red; border-radius: 6px;" href="/elcodigo">Ir a "El Código"</a>
    <a style="background-color: black; padding: 10px; color: violet; border-radius: 6px;" href="/encuesta">Ir a "Encuesta"</a>
</body>
</html>