<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>login</h1>
    <form method="POST" action="/login">
        <label>Username: <input type="text" name="username"></label>
        <label>Password: <input type="password" name="password"></label>
        <button>Login</button>
        <label for="">Al apretar Login el controlador recibe la solicitud POST y retorna la redirecciona a /enviado</label>
    </form>
    <p style="background-color: red; color: white;" th:if="${error}" >Como tiene un th:if cuando error exista me libera este contenido, si pero el error es: <span th:text="${error}">esto no se ve</span></p>
    <p th:unless="${error}">Esto cambiará si hay un error</p>
</body>
</html>